* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.header {
    margin: 2em 0;
}

.projects {
    display: grid;
    align-items: stretch;
    grid-template-columns: auto auto auto;
}

.projects span {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

.projects a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 240px;
}

.projects img {
    height: 200px;
}

footer {
    font-size: 0.8em;
}
